{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Datacat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/base.css' %}">
    <!--<style>-->
      <!--/* Always set the map height explicitly to define the size of the div-->
       <!--* element that contains the map. */-->
      <!--#map {-->
        <!--height: 100%;-->
      <!--}-->
      <!--/* Optional: Makes the sample page fill the window. */-->
      <!--html, body {-->
        <!--height: 100%;-->
        <!--margin: 0;-->
        <!--padding: 0;-->
        <!--color:red;-->
      <!--}-->
    <!--</style>-->

</head>
<body>

 <!-- Navigation Bar-->
<!--<nav class="navbar navbar-dark justify-content-between" style="background-color: purple; color:white;">-->
  <!--<a class="navbar-brand">Navbar</a>-->
  <!--<form class="form-inline">-->
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
  <!--</form>-->
<!--</nav>-->

<div class="grid">
	<div class="header">This is freaking header</div>
	<div class="sidenav">This is freaking Sidenav</div>
	<div class="mainbody">This is freaking main Body</div>
	<div class="rightbar">This is freaking right bar</div>
	<div class="footer">This is freaking footer</div>

</div>
</body>